html{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url('../Img/bible.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -225px;
}
#Header{
    width: 100%;
    margin: auto;
    padding-top: 0.5%;
    padding-bottom: 20%;
}
#Title{
    float: left;
    width: 5%;
    height: 100%;
    padding: 0px;margin: 0px;
    font-family: 'Shadows Into Light', cursive;
}
#Menu{
    width: 90%;
    height: 100%;
    margin: auto;padding: 0px;
    font-family: 'Shadows Into Light', cursive;
}
#TitleSite{
    color: white;
    text-transform: uppercase;
    size: 1em;
    width: auto;
    height: auto;
    margin: auto;
    padding-left: 200px;
    font-family: 'Andika New Basic', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
}
#MenuMenu{
    width: auto;
    height: auto;
    float: right;
}
ul li{
    list-style: none;
    display: inline-block;
    letter-spacing: 2px;
}
a{    
    text-decoration: none;
    color: white;
    size: 1em;
    padding-right: 20px;
}
a:hover{    
    text-decoration: none;
}
#Lien1{
    text-transform: capitalize;
}
#Corps{
    color:white;
    width: 75%;
    padding:0px;
    margin:auto;    
    font-family: 'Shadows Into Light', cursive;
}
#Download{
    background-color: transparent;
    border-style: none;
    text-transform: uppercase;
    color: white;
    height: 30px;
    border: 2px solid #fff;
    border-left: 0.5px solid #fff;
    text-align:center;
}
#Commencer{
    background-color: rgba(250, 10, 20, 1);
    border-style: none;
    text-transform:uppercase;
    color: white;
    height: 30px;
}